

.Introduction {
    width: 80%;
    margin: 20px auto;
    flex-wrap: wrap;
    color:rgba(81, 81, 81, 0.537);
}

.ParagraphOne {
    width: 80%;
    margin: 20px auto;
    flex-wrap: wrap;
    color:rgba(145, 145, 145, 0.537);
    font-weight: bold;
} 

.ParagraphTwo{
    margin: 20px auto;
    flex-wrap: wrap;
    color:rgba(145, 145, 145, 0.537);
    font-weight: bold;
}
h2{
    text-align: center;
    flex-basis: 100%;
    color: rgb(0, 0, 0);
}

h3{
    text-align: center;
    flex-basis: 100%;
    font-size: small;
    color: rgb(137, 137, 137);
}


.ParagraphTitle{
    text-align: center;
    text-size-adjust: 72px;
    color: black;
    font-weight: bolder;
}



